.header{
  display: flex;
  align-items: center;

}

.logo{
  display: flex;
  align-items: center;
}


.navLists{
  display: flex;
  align-items: center;
  list-style: none;

}

.btn{
  padding:  .6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a{
  color: var(--WhiteColor);
  font-weight: 500;
}

.btn:hover{
  background: var(--SecondaryColor);
}

html{
  scroll-behavior: smooth;
}

@media screen and (min-width: 1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }

  .section{
    padding: 6rem 0 4rem;
  }
  
}

@media screen and(min-width:2560px) {
  body{
    zoom: 1.7;
  }
  
}